* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.calc {
  padding-top: 10%;
  /* padding: 0; */
  margin: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: brown; */
}
.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%;
  height: 10%;
  /* background-color: blue; */
}
.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 20%; */
  height: auto;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.lower button {
  height: 50px;
  width: 100px;
  margin: 10px 50px;
}
